@using AtividadeFinalPontoDigital.Models;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<script src="~/js/script.js"> </script>
<script>
    function Aprovar(){
        StreamWriter sw = new StreamWriter("Database/ComentariosAprovados.csv",true);
        sw.WriteLine($"{comentario.Nome};{comentario.Comentario};Aprovado");
        sw.Close();
        return comentario;
        }
    }
</script>
<header>
    @{
        Html.RenderPartial("_HeadNavBarLoggedAdmin");
    }
</header>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Procurar por palavra-chave">
<table id="myTable">
  <tr class="header">
    <th style="width:5%;">Nome</th>
    <th style="width:5%;">Comentário</th>
    <th style="width:5%">Aprovar</th>
    <th style="width:5%">Recusar</th>
  </tr>
  </thead>
  <tbody>
    @foreach (var item in ViewData["comentarios"] as List<ComentarioModel>)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Comentario</td>
            <td><button name="aprovar" class="button1" type="submit" value="Aprovar" onclick="window.location='http://localhost:5000/Login/ComentariosAprovarRecusar';">Aprovar</button></td>
            <td><button name="recusar" class="button2" type="submit" value="Recusar" onclick="window.location='http://localhost:5000/Login/ComentariosAprovarRecusar';">Recusar</button></td>
        </tr>
    }
  </tbody>
</table>