<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<header>
    @{
        Html.RenderPartial("_HeadNavBarLogged");
    }
</header>
<body>
<div>
    <div class="quadrado1">
    <img class="logo" src="~/img/kitten.jfif">
    <p class="textotitulo">A empresa Agora vai, responsável pela criação do seu mais recente produto Ponto Digital, é uma
    empresa da qual atual a muitos anos nessa área, sempre com produtos inovadores e com seus profissionais
    extremamente eficazes...</p>
    </div>
</div>
<div class="fundo">
  <div class="planos">
    <p class="planos1"> Plano Alfa </p>
    <p class="planos1"> Plano Beta</p>
    <p class="planos1"> Plano Gamma</p>
    <p class="planos1"> Plano Delta</p>
  </div>
<a name="planos">
  <fieldset>
    <legend>R$29,90</legend>
    <div class="alinhar"> Suporta até 50 funcionários <br> Ideal para uma empresa pequena <br> Tempo de resposta caso
      necessidade de suporte: Mediano <br> Espaço para um funcionário gerenciador apenas</div>
  </fieldset>
  <fieldset>
    <legend>R$149,90</legend>
    <div class="alinhar"> Suporta até 100 funcionários <br> Ideal para uma empresa mediana <br> Tempo de resposta
      caso necessidade de suporte: Mediano <br> Espaço para dois funcionários gerenciadores</div>
  </fieldset>
  <fieldset>
    <legend>R$299,90</legend>
    <div class="alinhar"> Suporta até 150 funcionários <br> Ideal para uma empresa grande <br> Tempo de resposta caso
      necessidade de suporte: Rápido <br> Espaço para dois funcionários gerenciadores</div>
  </fieldset>
  <fieldset>
    <legend>Contate-nos</legend>
    <div class="alinhar"> Suporta 200+ funcionários <br> Ideal para uma empresa grande <br> Tempo de resposta caso
      necessidade de suporte: Instantâneo <br> Espaço para três funcionários gerenciadores.</div>
  </fieldset>
</a>
  <a href="http://google.com"><button class="botão2"><i class="fas fa-signature"></i>Assine já</button></a>
  <a href="http://google.com"><button class="botão2"><i class="fas fa-signature"></i>Assine já</button></a>
  <a href="http://google.com"><button class="botão2"><i class="fas fa-signature"></i>Assine já</button></a>
  <a href="http://google.com"><button class="botão2"><i class="fas fa-signature"></i>Contate-nos</button></a>
  <br>
  </br>
  <!-- <p class="textos1"> Faça um comentário sobre nossos produtos!!!</p> -->

<!-- <form action="Ação" method="post">
<div>
<textarea name="comments" class="comentário1" style="font-family:sans-serif;font-size:1.2em;">
Ei...Digite algo!
</textarea>
</div>
<input type="submit" value="Submit" class="comentário">
</form> -->
</body>
</div>
