<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #82cbf6";>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5000/Login/LoggedAdmin">Index</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:5000/Login/ComentariosAprovarRecusar">Aprovar ou recusar comentários</a>
      </li>
    </ul>
  </div>
</nav>