<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<header>
    @{
        Html.RenderPartial("_HeadNavBar");
    }
</header>
<body>
    <div class="textoapresentação">
        <h1> Agora Vai</h1>
        <p>A empresa Agora Vai se lançou no mercado desde cedo, com seus produtos incríveis e com sua equipe extremamente preparada para enfrentar qualquer dificuldade.<br></br>Agora, lançando seu mais novo produto "Ponto Digital" a empresa oferece a seus compradores a possibilidade de administrar seus funcionários não importa a distância!</p>
        <p>Ponto Digital: O mais novo produto "Ponto Digital" oferece segurança e praticidade essêncial para sua empresa. Com sua tecnologia de ponta e sua eficiência, torna o trabalho de seus funcionários mais organizado e mais seguro.</br>Eficiência,segurança e rapidez são as três maiores características do produto, com o mesmo seu funcionário poderá sem nenhuma dificuldade marcar o ponto de inicio e término de seu serviço, não importa a localização! Além disso, você poderá monitorar o mesmo através  de seu tablet,celular, computador e entre outros...</p>
        <br></br>
        <h3>Fundadores:</h3>
        <h4>Cesar S.</h4>
        <p>Nascido no Canadá, aos 14 anos Cesar já era muito promissor em seu futuro, e foi nessa idade que decidiu sua futura profissão, e então juntamente com Tsukamoto formaram a empresa Agora Vai.</br>Aos 19 anos se formou em Engenharia da Computação, onde ampliou ainda mais seus conhecimentos na área, e agora com seu mais novo produto promete marcar o mercado.</p>
        <br></br>
        <h4>Carlos T.</h4>
        <p>Carlos nasceu na pequena cidade de Nara, Japão, onde logo cedo ingressou em uma escola de ensino sobre informática básica, fascinado então pela tecnologia, não demorou muito para começar seus estudos na área, onde por ventura conheceu Cesar. Ambos fascinados pela ideia de criarem produtos inovadores no mercado, decidiram então criar a empresa Agora Vai, dividindo funções entre si para uma melhor organização.</p>
    </div>
</body>